.project-details {
  text-align: left;
}

.project-details .header {
  text-align: center;
}

.project-details .location {
  color: inherit;
}

.project-details .event-date {
  color: inherit;
}

.project-details .category {
  color: inherit;
}

.project-short-description {
  height: 100%;
}

.project-info {
  height: 100%;
}

.project-owner a {
  color: inherit;
  width: 15%;
  height: auto;
}

.project-owner .image {
  border-radius: 50%;
  width: 100%;
}

.project-details .info-block {
  margin-top: auto;
}

.project-details .contribute {
  color: whitesmoke;
}

.project-details .info-block .primary {
  font-size: 1.25rem;
}
