.project-details {
  padding-top: 1rem;
}

.project-details .nav {
  margin-bottom: 1rem;
}

.project-details .full-description {
  white-space: pre-wrap;
}

.project-details .faq .btn {
  text-align: left;
  color: inherit;
  white-space: normal;
}

.project-details .faq {
  margin-bottom: 1rem;
}

.project-details .comment:target {
  background-color: lavender;
}

.project-details .comment .image-link {
  display: inline-block;
  color: inherit;
  width: 75%;
  height: auto;
}

.project-details .comment .image {
  border-radius: 50%;
  width: 100%;
}

.project-details .comment .author-link {
  color: inherit;
}

.project-details .comment .comment-link {
  color: inherit;
}
