.project-card {
  width: 18rem;
}

.card-title-link {
  color: inherit;
}

.project-short-description {
  font-size: 0.8rem;
}

.project-time-left {
  text-align: left;
}

.project-img-wrapper {
  position: relative;
}

.project-card img {
  max-height: 360px;
  object-fit: cover;
}
